In [7]:
#Integer-------int
#Whole number,such as:
#3 300 200
no=300
print(no)

300

In [8]:
#Floating point--------float
#NUmber with a decimal point:
#2.3 4.6 100.0
no=4.6
print(no)

4.6

In [9]:
#String--------str
#Ordered sequence of characters:
#"hello" 'sammy' "2000"
no="2000"
print(no)
name='sammy'
print(name)
name2="hello"
print(name2)

2000
sammy
hello

In [10]:
#Lists--------list
#Ordered sequence of objects:
#[10,"hello",200.3]
no=[10,"hello",200.3]
print(no)

[10, 'hello', 200.3]

In [12]:
#Dictionaries--------dict
#Unordered Key:Value pairs:
#{"mykey","value","name":"shouvik"}
no={"mykey":"value","name":"shouvik"}
print(no)

{'mykey': 'value', 'name': 'shouvik'}

In [14]:
#Tuples--------tup
#Unordered immutable sequence of objects:
#(10,"hello",200.3)
no=(10,"hello",202.3)
print(no)

(10, 'hello', 202.3)

In [17]:
#Sets--------set
#Unordered collections of unique objects:
#{"a","b"}
no={"a","b","b",10}
print(no)

{'b', 10, 'a'}

In [19]:
#Booleans--------bool
#Logical value indicating True or False
#True,False
no=True
print(no)
no2=False
print(no2)

True
False