#### *Numbers:Store numerical information and come in two forms:
        ->Integers:-Whole Numbers
        ->Floating Point:-Numbers with a decimal

#### *Strings:-Ordered sequence of characters
#### *Lists:-Ordered sequence of objects(mutable)
#### *Tuples:-Ordered sequence of objects(immutable)
#### *Dictionary:-Key-Value pairing that is unordered

## Numbers

##### Write an equateion uses multiplication, division, an exponent that is equal to 100.25?

In [1]:
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

##### Answer these 3 question without typing code. Then  type code to check your answer
    What is the value of the expression 4 * (6 + 5)
    What is the value of the expression 4 * 6 + 5
    What is the value of the expression 4 + 6 * 5

In [5]:
4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

##### What is the type of the expression 3 + 1.5 +4?
    Answer: Floating Point Number

##### What would you use to find a number's square root, as well as its square?

In [8]:
# Square root
100 ** 0.5

10.0

In [9]:
# Square
10 ** 2

100

## Strings

##### Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below

In [10]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

###### Reverse the string 'hello' using slicing:

In [11]:
s='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

###### Given the string 'hello', give two methods of producing the letter 'o' using indexing

In [12]:
s='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [13]:
# Method 2:

s[4]

'o'

## Lists

##### Build the list[0,0,0] two separate ways?

In [14]:
# Method 1:
[0]*3

[0, 0, 0]

In [16]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

##### Reassign 'hello' in this nested list to say 'goodbye' instead

In [17]:
list3 = [1,2,[3,4,'hello']]

In [18]:
list3[2][2] = 'goodbye'

In [19]:
list3

[1, 2, [3, 4, 'goodbye']]

##### Sort the list below?

In [20]:
list4 = [5,3,4,6,1]

In [23]:
# Method 1:--->it is not inplace sort but it will return a sorted list
sorted(list4)

[1, 3, 4, 5, 6]

In [24]:
list4

[5, 3, 4, 6, 1]

In [25]:
l=sorted(list4)

In [26]:
l

[1, 3, 4, 5, 6]

In [27]:
# Method 2:-----> it is inplace sort
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

##### using keys and indexing , grab the 'hello' from the follwing dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
#Grab hello

d['k1']['k2']

'hello'

In [30]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [31]:
# This was harder than I expected...
d['k1'][0]['nest_key'][1][0]

'hello'

In [33]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [34]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

##### Can you sort a dictionary? Why or why not?
->Answer:-No! Because normal dictionaries are mapping not a sequence

## Tuples

##### What is the major difference between tuples and lists?
    ->Tuples are immutable!

##### How do you create tuple?

In [35]:
t = (1,2,3)

## Sets

##### What is unique about set?
    -> They don't allow for duplicate items

##### Use a set to find the unique values of the list below:

In [36]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [37]:
s1 = set(list5)

In [38]:
s1

{1, 2, 3, 4, 11, 22, 33}